@media (max-width: 768px) {
    .container {
        max-width: 320px;
        border: 2px solid fuchsia;
        margin: 0 auto;
        padding: 0 16px;
        justify-content: center;
        align-items: center;
    }

    .page-nav {
        display: none;
    }

    .contacts {
        display: none;
    }

   
 



    .logo{
    
    }
    


    .container-title {
        display: flex;
        flex-direction: column;
    }

    .main-title {
        max-width: 288px;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;

    }

    .button {}

    .feature {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .feature-item {
        display: none;
    }

    .feature-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
        justify-content: center;
    }

    .list-feature {
        display: flex;
        width: 288px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .feature-title {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        align-self: stretch;
    }

    .feature-paragraf {
        color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        align-self: stretch;
    }

    .our-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .our-team-title {
        margin-bottom: 72px;
    }

    .our-team-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
    }

    .list-team {
        display: flex;
        width: 264px;
        padding-bottom: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .our-portfolio {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .our-portfolio-title {
        margin-bottom: 72px;
    }

    .our-portfolio-list {
        display: flex;
        flex-direction: column;
    }

    .list-portfolio {
        display: flex;
        width: 288px;
        padding-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .container-portfolio {
        display: flex;
        padding: 0px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    .footer {
        padding-top: 96px;
    }

    .footer-item {
        margin: 0 auto;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-paragraf {
        display: flex;
        align-content: center;
        justify-content: center;
        margin-bottom: 72px;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .icon-footer {
        margin-bottom: 72px;
    }

    .form-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .modal-container {
        margin: 0 auto;
    }



}