

@media (min-width: 768px) and (max-width: 1158px) {
    .container {
        max-width: 768px;
        border: 2px solid tomato;
        margin: 0 auto;
        padding: 0 16px;
        justify-content: center;
        align-items: center;
    }

    .container-header {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .contacts-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: 12px;
        margin-left: 121px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .title{
        width: 768px;
        
    }
    
.main-title{
    max-width: 496px;
    text-align: center;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
}
.feature-item{
    display: none;
}
.feature-list{
  

   
}
.our-team-list{
    
}







}
