

@media screen and (min-width: 768px) and (max-width: 1158px)  {
    .container {
        width: 768px;
        border: 2px solid tomato;
    }

    .contacts-list{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: 12px;
        margin-left: 121px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .title{
        padding: 112px 0;
    }
    .title-img{
        
    }
    .button{
        margin-top: 36px;
    }
    
.main-title{
    max-width: 496px;
    text-align: center;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
}
/*------------------feature--------------------------*/

.feature-item{
    display: none;
}
.feature-list{
text-align: left;
 gap: 72px 24px;

 
}

.list-feature{
    width: calc((100% - 72px)/2);
}
.feature-title{
 text-align: left;
}

/*-----------------------------our team-------------------*/
.our-team-list{
    gap: 64px 24px;
}
.list-team{
    width: calc((100%-64px)/2);
}

/*---------------------------our portfolio--------------------*/

.our-portfolio-list{
    gap: 72px 24px;
}
.list-portfolio{
    width: calc((100% - 72px) / 2);
}
/*----------------------------footer--------------------------*/
.footer-logo{
    justify-content: flex-start;
}

.icon-footer{
    align-items: flex-start;
   
}

.footer-item{
    margin-left: 0;
    
}
.footer-paragraf{
    margin-bottom: 0;
}
.modal-container{
    margin-top: 72px;
}
.paragraf-subscribe{
    justify-content: flex-start;
}
.form-subscribe{
    flex-wrap: nowrap;
}





}

